/* bussinga! */
/* ^ Still works on non bussinga tho */
body {
  color: #202122;
  background-color: #f8f9fa;
  overflow-x: hidden;
}
upper {
  direction: column;
  align-items: center;
}
.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
lower {
  direction: row;
  gap: 5px;
}
.lower {
  display: flex;
  gap: 5px;
  flex-direction: row;
}
p {
  white-space: break-spaces;
  word-break: break-word;
  font-family: system-ui;
}
select {
  color: #f8f9fa;
  font-family: system-ui;
}
input {
  color: #f8f9fa;
  font-family: system-ui;
}
button {
  color: #f8f9fa;
  font-family: system-ui;
}
* {
  font-family: system-ui;
}
brand {
  font-family: serif;
}
.brand {
  font-family: serif;
}